html{
	scroll-behavior: smooth;
}

body{
	text-align: center;
}

h1, h2, h3{
	font-family: Montserrat, sans-serif;

}

p, li{
	font-family: Ubuntu, sans-serif;
	font-size: 1rem;
	color: #8F8F8F;

}

/*Heading section*/

.big-heading{
	font-family: Montserrat, sans-serif;
	font-weight: 900;
	font-size: 4rem;
	line-height: 1.5;

}

.section-heading{
	font-size: 3rem;
	line-height: 1.5rem;
	font-weight: 700;
}

/*Sections*/

.colored-section{
	background-color: #FF4C68;
	color: white;
}

.white-section{
	background-color: white;
}

/*title section*/

.title-page{
text-align: left;
}

.container-fluid{
	padding: 3% 15% 8%;
}

.navbar-brand{
	font-size: 2.5rem;
	font-family: Ubuntu, sans-serif;
}

.container-fluid li{
	font-size: 1.2rem;
	padding-right: 30px;
	padding-top: 60px;
	padding-bottom: 40px;
}
.navbar{
	padding-bottom: 60px;
}

.row button{
	margin-right: 20px;
	margin-top: 20px;
	position: relative;
	z-index: 1;
}

.iphone{
	transform: rotate(25deg) ;
	width: 350px;
	position: absolute;
	margin-left: 130px;
}

/*feature section*/

#features{
	padding: 5% 15%;
	position: relative;
}

.feature-title{
	font-weight: 700;
	font-size: 1.5rem;
}

.feature-box{
	padding: 8%;
}

#features i{
	color: #EF8172;
	margin-bottom: 20px;
}

#features i:hover{
	color: #FF4C68;
}

/*testimonial section*/

#testimonials{
	background-color: #EF8172;
}

.testimonial-image{
	width: 10%;
	border-radius: 100%;
	margin: 20px;
}

#press{
	background-color: #EF8172;
	padding-bottom: 3%;
}

#press img{
	width: 13%;
	margin: 20px 20px 50px;
}

.carousel-item{     
	transition: transform 1s ease;    
	opacity: .3s ease-out;
 	padding: 7% 15%;
}

.testimonial-text{
	font-size: 3rem;
	line-height: 1.5;
	font-weight: 700;
}

/*Pricing section*/

#pricing{
	padding: 100px;
}

.pricing-column{
	padding: 3% 2%;
}

.price-text{
	font-weight: 700;
	font-size: 3rem;
	line-height: 1.5;
}

.price-subheading{
	color: black;
}

/*download section*/

.cta-heading{
	font-family: Montserrat,sans-serif;
	font-weight: 700;
	font-size: 4rem;
	line-height: 1.5;
}

.container-fluid1{
	padding: 3% 20% 8%;
}

#cta button{
	margin-top: 50px;
	margin-right: 20px;
	margin-left: 20px;
}

/*footer section*/

#footer{
	text-decoration: none;
	margin-bottom: 50px;
}

#footer i{
	margin: 50px 15px 30px;
	color: black;
}

#footer i:hover{
	color: blue;
}


@media (max-width:1028px){

h1, h2, h3{
	font-family: Montserrat, sans-serif;
	}

.big-heading{
	font-family: Montserrat, sans-serif;
	font-weight: 900;
	font-size: 2rem;
	line-height: 1.5;
}

.section-heading{
	font-size: 2rem;
	line-height: 1.5rem;
	font-weight: 700;
	line-height: 1.5;
}
.title-page{
	text-align: center;
}

.price-text{
	font-weight: 700;
	font-size: 2rem;
	line-height: 1.5;
}

.testimonial-text{
	font-size: 2rem;
	line-height: 1.5;
	font-weight: 700;
}

	.cta-heading{
	font-weight: 700;
	font-size: 2rem;
	line-height: 1.5;
	padding-top: 20px;
}
	.feature-title{
	font-weight: 700;
	font-size: 2rem;
}


#cta button{
	margin-top: 30px;
	margin-right: 10px;
	margin-left: 10px;
}	
	
.iphone{
	width: 300px;
	margin-top: 20px;
	transform: rotate(0);
	position: relative;
	margin-left: -20px;
}
	
#features{
	margin-top: -300px;
}
}
